<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wujianqinjian樊瑞</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>
<body>
<title>Fanta！</title>
<h1>
    Hello，[[${session.online}]]！
</h1>
<div th:text="${fanta}"></div>

<hr/>
<h4>
    <span th:each="list:${listOne}">[[${list}]]</span>
</h4>

<p>Today is: <span th:text="${today}">13 february 2011</span></p>
<!--
<div th:object="${session.person}">
    <P>lastName: <span th:text="*{lastName}">wujianqinjian</span> </P>
</div>
-->
</body>
</html>